/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ......................... 11
2. Variables ...................... 15
3. Estilos generales .............. 33
-------------------- */


/* ----- Fuente ----- */
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');


/* ----- Variables ----- */
* {
	/* --- colores primarios --- */
	--yellow-color: hsl(47, 88%, 63%);

	/* --- colores neutrales --- */
	--white-color: hsl(0, 0%, 100%);
	--grey-color: hsl(0, 0%, 50%);
	--black-color: hsl(0, 0%, 7%);

	--primary-font-family: 'Figtree', sans-serif;	
	--lh-text: 22px;
	--font-size: 1rem;
}


/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */
body {
	font-family: var(--primary-font-family);
	background-color: var(--yellow-color);
	color: var(--black-color);
	font-size: var(--font-size);
	line-height: var(--lh-text);
}

/* ----- Contenedor ----- */
.container {
	width: 100vw;
	height: 100vh;
	overflow:  hidden;

	display: flex;
	justify-content: center;
	align-items:center;
}

/* ----- Tarjeta ----- */
.card {
	width: 360px;
	height: auto;
	border: 1px solid var(--black-color);
	border-radius: 16px;
	padding: 20px;
	background-color: var(--white-color);
	box-shadow: 9px 9px 1px var(--black-color);
}

/* ----- Header ----- */
.card--img {
	width: 100%;
	border-radius: 8px;
}

/* ----- Body ----- */
.card__body {
	padding: 10px 0;
}

span {
	padding: 4px 8px;
	font-weight: bold;
	background-color: var(--yellow-color);
	border-radius: 5px;
}

small {
	display: block;
	margin: 12px 0;
}

.card--copy {
	color: var(--grey-color);
}

/* ----- Footer ----- */
.card__footer {
	display: flex;
	justify-content: flex-start;
}

.author--name {
	margin-left: 10px;
}

/* ------------------------
Diseño: Frontend Mentor🎨
Desarrollo: Frontend Club🔥
--------------------------- */